.mobile_none {
    display: none;
}

p.title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;

}

.wrapper {
    width: 480px;
}

.mobile_block {
    display: block;
}



/*Main*/


.main_button {
    display: none;
}

.main_content {
    flex-direction: column;
}

.maim_img {
    width: 100%;
    margin-left: 0px;
    order: 1;
}

.main_info {
    order: 2;
}

.main_text__div {
    width: 344px;
}

p.main_info {
    font-size: 18px;
}

.main_nav {
    display: none;
}

.main_bottom {
    margin-top: -14px;
    flex-direction: column;
}

.advantage_right {
    order: 1;
}

p.advantage_left {
    order: 2;
}

.advantage_right {
    display: flex;
    flex-direction: column;
}

.advantage_right__order1 {
    order: 1;
}

.advantage_right__order2 {
    order: 2;
}

a.main_link {
    margin-bottom: 0px;
}

span.tel {
    margin-bottom: 54px;
}

p.main_advantage {
    text-align: end;
}

p.main_advantage__right {
    margin-bottom: 0px;
}

p.advantage_left {
    margin-top: 40px;
    width: 400px;
    margin-bottom: 50px;
}


/*Services*/

.services_animal__img {
    width: 212px;
    height: 298px;
}

.services_content {
    column-gap: 16px;
    width: 440px;
}

.services_bottom {
    margin-top: 0px;
}

a.animalButton {
    padding-left: 30px;
    padding-right: 30px;
    height: 32px;
    padding-top: 10px;
    font-size: 24px;
    margin-right: 10px;
}

span.services_array {
    width: 42px;
    height: 42px;
}

.services_left {
    align-items: flex-start;
}

p.services_advantage__title {
    text-align: left;
}


p.services_advantage__right {
    width: 340px;
    text-align: left;
    margin-left: 140px;
}

/*Stoks*/

.stoks_slider {
    width: 440px;
}


.stoks_content {
    flex-direction: column;
    align-items: flex-start;
    width: 375px;
    padding: 30px;
}

.stoks_order {
    order: 2;
}

.stoks_img {
    order: 1;
    width: 279px;
    height: 277px;
    margin-bottom: 30px;
}

.stoks_img__shadow {
    width: 270px;
    height: 270px;
    top: 15px;
    left: -10px;
}


.suppliers_logo__mobile img {
    display: block;
    margin-bottom: 20px;
}

.suppliers_content {
    align-items: center;
}

/*doctors*/

.doctors_content {
    display: none;
}

.doctors_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

}

.doctors_card_array {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: #668BE9;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 10px;
    right: 10px;
}

.doctors_card_array__back{
    top: -60px;
}
.doctors_card_front {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
}

.doctors_card_img {
    width: 325px;
    height: 455px;
    position: relative;
    border-radius: 20px;
    background-color: red;
    margin-bottom: 30px;
}

.doctors_card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p.practice_mobile {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    background-color: #668BE9;
    border-radius: 5px;
    color: white;
    margin-bottom: 7px;
    font-size: 10px;
}

p.certificate_mobile {
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(244, 244, 244, 0.56);
    color: #5F5F60;

}

.certificates_card_button_svg {
    position: relative;
    top: -30px;
    left: 145px;
}

.certificates_card_button {
    position: absolute;
    left: 10px;
    bottom: -65px;
}

.certificates_card_button__back {
    bottom: 10px;
}

p.doctors_card_back__text {
    width: 280px;
    position: relative;
    left: -22px;
}

.doctors_card_back {
    height: 440px;
    padding-top: 100px;

}

.doctors_card_back__content {
    position: relative;
    width: 100%;
    height: 100%;
}

.certificates_array__back {
    width: 49px;
    height: 49px;
    background-color: #A0B7F1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: 145px;
}

/*certificates*/
p.certificates_text {
    text-align: right;
    width: 400px;
    margin-left: 80px;
}

.certificates_foto__active{
    width: 455px;
    height: 455px;
}


.certificates_img{ 
     width: 480px;
}
/*article*/

.articles_content {
    grid-template-columns: 1fr 1fr;
}


/*Contact*/

.contact_button {
    display: block;
    margin-bottom: 40px;
}

p.place {
    margin-bottom: 40px;
}

p.place_active {
    margin-bottom: 20px;
}

p.before_active {
    margin-bottom: 20px;
}

.step {
    flex-direction: column;
    margin-bottom: 170px;
}

.step_img {
    order: 2;
}

.step_info {
    order: 1;
}

.step_info {
    width: 231px;
    height: 324px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    border-radius: 20px;
}

.step_img {
    position: absolute;
    width: 170px;
    height: 213px;
    bottom: -156px;
    left: 156px;
}

.step_img img {
    border-radius: 20px;
}

.step {
    position: relative;
}

.contact_array {
    position: relative;
    top: -80px;
}

.step_number {
    left: -10px;
    top: -280px;
}

/*Footer*/

footer {
    grid-template-columns: 1fr;
}

.footer_info__content {
    width: 440px;
    margin: 0 auto;
}

.footer_info {
    padding-top: 50px;
}

p.footer_title {
    margin-top: 0px;
    margin-bottom: 20px;
}

p.footer_text,
a.footer_text {
    font-size: 16px;
}

.footer_footer a {
    font-size: 10px;
}

.footer_map {
    height: 640px;
}


/*doctors animation*/

.doctors_card_container {
    width: 325px;
    height: 540px;
    perspective: 1000px;
}

.doctors_card {

    width: inherit;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
}

.doctors_card_front,
.doctors_card_back {
    position: absolute;
    top: 0;
    left: 0;
/*    overflow: hidden;*/

    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.doctors_card_front {
    transform: rotateY(0deg);
    z-index: 2;
}


.doctors_card_back {
    transform: rotateY(180deg);
    z-index: 1;
}

/*Header*/
.mobile_flex_header {
    display: flex;
    justify-content: space-between;
}



nav ul li a, nav ul li{
    text-align: right;
}

.nav_flex{
    justify-content: space-between;
}

.nav_info{
    width: 200px;
}

/*animation search*/


.search form input[type="text"] {
 width: 195px;    
}

.search form input[type="submit"] {
 padding: 12px 15px;
}
@keyframes border_open {
    0% {
        width: 60px;
    }

    100% {
        width: 350px;

    }
}

@keyframes border_close {
    0% {
        width: 350px;
    }

    100% {
        width: 60px;

    }
}



li.mobile_search{
    display: flex;
    justify-content: flex-end;
}

#mobileSearch{
    margin: 0px;
}

.overflow_container{
    height: 60px;
}

.word_four{
    display: inline-block;
}

p.certificates_heading {
    width: 400px;
}

.word_four{
    margin-top: 0px;
   margin-left: 0px;
}